.circle {
  border: 2px dashed #36ba24;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: auto;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.desc_rotate {
  position: relative;
  bottom: 200px;
  padding: 5px;
  width: 200px;
  margin: auto;
}
.desc_rotate p {
  font-size: 13px;
  /* width: 50%; */
}
.desc_rotate h4 {
  font-size: 18px;
}
