.bg_maati {
  background-image: url("../../assests/images/maati.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.overlay {
  background-color: #22222242;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
